@page
@model GraduateStudyWebApp.Pages.GraduateEduPublicPage.AddObjectiveFactModel
@{
    Layout = "~/Pages/Shared/_Layout_PC.cshtml";
    ViewData["Title"] = "主题客观事实维护";
    //操作Session样例，方法1：
    //Model.seUserId = "TestUserId";
    var strUserId_Value = Model.seUserId;
    //操作Session样例，方法2：
    Model.SetSession("UserId1", "TestUserId1");
    var strUserId1_Value = Model.GetSession("UserId1");
    //请参见页尾的隐形控件hidUserid和hidUserId1的使用。
}
@section Styles{
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/site.css" />

    <link rel="stylesheet" href="~/lib/Xadmin/css/font.css">
    <link rel="stylesheet" href="~/lib/Xadmin/css/xadmin.css">
    <script src="~/lib/Xadmin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/Xadmin/js/xadmin.js"></script>

    <link rel="stylesheet" href="~/css/public.css" />
}
@section Scripts{
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../js/site.js" asp-append-version="true"></script>
    <script src="../lib/bootstrap/dist/js/popper.js" type="module"></script>
    <!--文件上传-->
    <script src="../lib/jquery-form.js"></script>
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/require/require.js" data-main="../js/src/config"></script>
}

<script>

var strUrl_Session_SetString = "@Model.Url_Session_SetString";
var strUrl_Session_GetString = "@Model.Url_Session_GetString";
var strCurrPrjId = "@Model.CurrPrjId";

    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    

    function GetObjectiveTypeId_load() {
        var Request = new Object();
        Request = GetRequest();
        var str1;
        str1 = Request['ObjectiveTypeId'];
        var str2 = Request['TopicId'];
        $("#hidTopicId").val(str2);
        var str3 = Request['PaperId'];
        $("#hidRequestPaperId").val(str3);

        var str4 = Request['TopicObjectiveId'];
        $("#hidObjectiveId").val(str4);
        $("#txtTopicObjectiveId").val(str4);

        var str5 = Request['PdfPageNum'];
        $("#hidPdfPageNum").val(str5);

        var str7 = Request['Id_CurrEduCls'];
        $("#hidId_CurrEduCls").val(str7);

        if (str1 != null) {
            $('#hidObjectiveTypeId').val(str1);

            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (topicobjective) {
                var objPage = new topicobjective.AddObjectiveFactEx();
                objPage.Page_Load();
            });

        }
        else {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (topicobjective) {
                var objPage = new topicobjective.AddObjectiveFactEx();
                objPage.Page_Load();
            });
        }
    }



    /*
 页面导入-在导入页面后运行的函数
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_Page_Load)
*/
    window.onload = function () {

        //上传文件设定相关属性参数；
        var MaxInputs = 2;//只能3个附件；
        var InputsWrapper = $("#InputsWrapper");
        //var AddButton = $("#AddMoreFileBox");
        var x = InputsWrapper.length;
        var FieldCount = 1;
        $("#AddMoreFileBox").click(function () {

            // $(AddButton).click(function (e) {
            if (x <= MaxInputs) {
                FieldCount++;
                //add input box
                $("#InputsWrapper").append('<br/><input type="file" name="txtUploadfile' + FieldCount + '" id="txtUploadfile' + FieldCount + '"/>');
                x++; //text box increment
            }
            return false;
            // });
        })

        //数据调用
        GetObjectiveTypeId_load();

        //require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (topicobjective) {
        //    var objPage = new topicobjective.AddObjectiveFactEx();
        //    objPage.Page_Load();
        //});
    }

//    function CloseWindow(){

//                 var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
//        parent.layer.close(index); //再执行关闭

//        hasClosed = true;
//        window.opener.location = "javascript:reloadPage();";
//        parent.location.reload();//完成刷新
//        //window.location.reload();
//        window.opener = null;
//     }
//     //function window.onbeforeunload(){
//     //    if(!hasClosed){//如果已经执行了closeWin方法，则不执行本方法
//     //        window.opener.location="javascript:reloadPage();";
//     //    }
//     //}


//function reloadPage() {
//         history.go(0);
//         document.execCommand("refresh")
//         document.location = document.location;
//         document.location.reload();
//     }


    function CloseWindow() {

        try {
            var strpaperId = $("#hidRequestPaperId").val();
            if (strpaperId != "") {
                window.parent.CloseWindow();
            }
            else {
                var strPageType = $('#hidObjectiveTypeId').val();
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭

                if (strPageType == "01") {
                window.parent.liObjectiveFactClick();
                }
                else if (strPageType == "02") {
                window.parent.liObjectiveBasisClick();

                }
            }
            //if (strPageType == "01") {
            //    window.parent.liViewpointClick();
            //}
            //else if (strPageType == "02") {
            //    window.parent.liExpertViewpointClick();
            //}
            //else if (strPageType == "03") {
            //    window.parent.liConceptClick();
            //} else if (strPageType == "04") {
            //    window.parent.liObjectiveFactClick();
            //} else if (strPageType == "05") {
            //    window.parent.liObjectiveBasisClick();
            //}
        } catch (e) {
            window.opener.location = "父页面地址";
            window.opener = null;

            window.close();
        }
    }

    //function CloseWindow() {

    //    try {

    //        var strpaperId = $("#hidRequestPaperId").val();
    //        if (strpaperId != "") {
    //            window.parent.CloseWindow();
    //        }
    //        else {
    //            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    //            parent.layer.close(index); //再执行关闭
    //            parent.location.reload();
    //        }



    //    } catch (e) {
    //        console.log("异常");
    //        window.opener.location = "父页面地址";
    //        window.opener = null;
    //        window.close();
    //    }



    //    //window.location.reload();
    //}
    /*
 提交编辑
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_mySubmit)
*/
    function mySubmit(pstrOp) {


        //var value = $('#txtObjectiveContent').val();
        //var length = value.length;
        ////假设长度限制为500
        //if (length > 500) {
        //    //截取前500个字符
        //    value = value.substring(0, 500);
        //    alert("不能大于500字");
        //    return;
        //    //$(obj).attr("value", value);
        //}
        //else {
        //先验证控件
        if ($("#txtObjectiveName").val() == "") {
            layer.msg('客观名称不能为空!', {
                icon: 3,
                time: 1000
            });
        }
        else if ($("#txtObjectiveName").val().length > 100) {
            layer.msg('客观名称不能超过100!', {
                icon: 3,
                time: 1000
            });
        }
        else if ($("#txtObjectiveContent").val() == "") {
            layer.msg('客观内容不能为空!', {
                icon: 3,
                time: 1000
            });
        }
        else if ($("#txtObjectiveContent").val().length > 10000) {
            layer.msg('客观内容不能超过10000!', {
                icon: 3,
                time: 1000
            });
        }
        else if ($("#ddlShareId").val() == "" || $("#ddlShareId").val() == "0") {
            layer.msg('分享不能为空!', {
                icon: 3,
                time: 1000
            });
        }
        else if ($("#txtconclusion").val() == "") {
            layer.msg('结论不能为空!', {
                icon: 3,
                time: 1000
            });
        }
        else if ($("#txtconclusion").val().length > 10000) {
            layer.msg('结论不能超过10000!', {
                icon: 3,
                time: 1000
            });
        }
        else {
            $("#divLoading").show();
            //防止重复提交
            $('#btnOKUpd').attr("disabled", true);
            //调用附件验证；
            IsFile();
        }

    }

      //判断图片附件格式、以及文件附件格式
    function IsFile() {
        //图片
        var InputsWrapper = $("#InputsWrapper");
        //var MaxInputs = 2;
        var y = InputsWrapper.length;

        //循环得到的个数
        for (var i = 0; i < y; i++) {
            if (i == 0) {
                var file1 = $("#txtUploadfile").val();

                if (file1 != "") {
                    strs = file1.split('.');
                    var suffix = strs[strs.length - 1];

                    if (suffix != 'jpg' && suffix != 'JPG' && suffix != 'gif' && suffix != 'GIF' && suffix != 'png' && suffix != 'PNG') {
                        alert("请选择jpg、gif、png格式文件！");
                        var obj = document.getElementById('txtUploadfile');
                        obj.outerHTML = obj.outerHTML; //这样清空，在IE8下也能执行成功
                        return;
                        //obj.select(); document.selection.clear();这种方法也可以清空 input file 的value值
                    }

                }
            }
            else if (i == 1) {
                var file2 = $("#txtUploadfile2").val();

                if (file2 != "") {
                    strs = file2.split('.');
                    var suffix = strs[strs.length - 1];

                    if (suffix != 'jpg' && suffix != 'gif' && suffix != 'png') {
                        alert("请选择jpg、gif、png格式文件！");
                        var obj = document.getElementById('txtUploadfile2');
                        obj.outerHTML = obj.outerHTML; //这样清空，在IE8下也能执行成功
                        return;
                        //obj.select(); document.selection.clear();这种方法也可以清空 input file 的value值
                    }

                }
            }
            else if (i == 2) {

                var file3 = $("#txtUploadfile3").val();

                if (file3 != "") {
                    strs = file3.split('.');
                    var suffix = strs[strs.length - 1];

                    if (suffix != 'jpg' && suffix != 'gif' && suffix != 'png') {
                        alert("请选择jpg、gif、png格式文件！");
                        var obj = document.getElementById('txtUploadfile3');
                        obj.outerHTML = obj.outerHTML; //这样清空，在IE8下也能执行成功
                        return;
                        //obj.select(); document.selection.clear();这种方法也可以清空 input file 的value值
                    }

                }

            }
        }
        //上传
        doUpload();


    }
      //上传方法
      function doUpload() {
        var formData = new FormData($("#uploadForm")[0]);
        $.ajax({
             url: "@Url.Action("UploadObjectiveFilePic", "testUploadPic")",
            type: 'post',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
            //成功/为空
            if (returndata.status == 0 || returndata.status == -1) {


            //如果文件地址为空，那么是修改 则不用存放地址；返回3个文件地址；
            if (returndata.fileNameOne != "") {
            $("#hdnFileOne").val(returndata.fileNameOne);
            }
            if (returndata.fileNameTwo != "") {
            $("#hdnFileTwo").val(returndata.fileNameTwo);
            }
            if (returndata.fileNameThree != "") {
            $("#hdnFileThree").val(returndata.fileNameThree);
            }

            //    alert("提交" + strOp);
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (topicobjective) {
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.btnOKUpd_Click();
            });
            // var aa = JSON.stringify(returndata);

            //alert(returndata.message);

            }
            else {

            alert('请选择正确图片格式(in AddObjectiveFact)')
            }


            },
            error: function (returndata) {
            alert(returndata);
            }
            });
            }

            //客观数据提交
            function btnIsSubmit_Click() {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (viewpoint, commonfunc) {
                var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "") {
            alert("请选择需要提交的记录！");
            return;
            }
            //ShowDialog('Update');
            var objPage = new viewpoint.AddObjectiveFactEx();
            objPage.btnIsSubmit_Click();
            });
            }



            /*
            添加新记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnAddNewRecord_Click)
            */
            function btnAddNewRecord_Click() {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function(topicobjective) {
            ShowDialog('Add');
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.btnAddNewRecord_Click();
            });
            }

            /*
            删除记录的事件函数
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnDelRecord_Click)
            */
            function btnDelRecord_Click() {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function(topicobjective, commonfunc) {
            var arrKeyIds = commonfunc.clsCommonFunc4Web.GetCheckedKeyIds();
            if (arrKeyIds.length == 0)
            {
            alert("请选择需要删除的记录！");
            return;
            }
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.btnDelRecord_Click();
            });
            }


            /*
            在数据表里删除记录的事件函数
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnDelRecordInTab_Click)
            */
            function btnDelRecordInTab_Click(strKeyId) {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function(topicobjective) {
            if (strKeyId == "")
            {
            alert("请选择需要删除的记录！");
            return;
            }
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.btnDelRecordInTab_Click(strKeyId);
            });
            }


            /*
            查询记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnQuery_Click)
            */
            function btnQuery_Click()
            {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function(topicobjective) {
            $("#Text1").val("进入函数：btnQuery_Click");
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.btnQuery_Click();
            });
            }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnUpdateRecord_Click)
            */
            function btnUpdateRecord_Click() {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function(topicobjective, commonfunc) {
                var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "")
            {
            alert("请选择需要修改的记录！");
            return;
            }
            //ShowDialog('Update');
            var objPage = new topicobjective.AddObjectiveFactEx();
                objPage.btnUpdateRecord_Click(strKeyId);
            });
            }


            /*
            在数据表里修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnUpdateRecordInTab_Click)
            */
            function btnUpdateRecordInTab_Click(strKeyId) {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function(topicobjective) {
            if (strKeyId == "")
            {
            alert("请选择需要修改的记录！");
            return;
            }
            ShowDialog('Update');
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.btnUpdateRecordInTab_Click(strKeyId);
            });
            }


            /*
            单击数据列表中每行首列的复选框所引发的事件
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_ChkClick)
            */
            function ChkClick(myThis)
            {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function(topicobjective, commonfunc) {
            var strId = myThis.id;
            var strKey = strId.substring(3);
            var arrKeys = commonfunc.arrSelectedKeys;
            if (myThis.checked == true) {
            if (arrKeys.indexOf(strKey) < 0)
            {
            arrKeys.push(strKey);
            }
            }
            else {
            var index = arrKeys.indexOf(strKey);
            if (index > -1)
            {
            arrKeys.splice(index, 1);
            }
            }
            var sstrKey = "";
            for (let strK of arrKeys)
            {
            sstrKey += `${ strK},`;
            }
            $('#spanResult').html(sstrKey);
            });
            }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_ExpandDiv)
            */
            function ExpandDiv(divName) {
            //基于RequireJS来调用tzPubFun.ts中的函数OnlyShowDiv。
            require(["../js/TS/PubFun/tzPubFun"], function (pubfun) {
            pubfun.OnlyShowDiv(divName, "function", "content");
            });
            }

            /*
            获取数据列表中的所选记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_GetAllCkechedKeys)
            */
            function GetAllCkechedKeys(tabName)
            {
            var arrKeys = tabName.getElementsByTagName('chkInTab');
            alert(arrKeys.length.toString());
            }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_IndexPage)
            */
            function IndexPage(intPageIndex)
            {
            console.log("跳转到" + intPageIndex + "页");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function(topicobjective) {
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.IndexPage(intPageIndex);
            });
            }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_JumpToPage)
            */
            function JumpToPage()
            {
            var intCurrPageIndex = $('#input_number').val();
            var intPageIndex = Number(intCurrPageIndex);
            console.log("跳转到" + intPageIndex + "页");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function(topicobjective) {
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.IndexPage(intPageIndex);
            });
            }



            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_NextPage)
            */
            function NextPage()
            {
            var intCurrPageIndex = $('#hidCurrPageIndex').val();
            var intPageIndex = Number(intCurrPageIndex) + 1;
            console.log("跳转到" + intPageIndex + "页");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function(topicobjective) {
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.IndexPage(intPageIndex);
            });
            }



            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_PageNum)
            */
            function PageNum(intPageIndex)
            {
            console.log("跳转到" + intPageIndex + "页");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function(topicobjective) {
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.IndexPage(intPageIndex);
            });
            }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_PrevPage)
            */
            function PrevPage()
            {
            var intCurrPageIndex = $('#hidCurrPageIndex').val();
            var intPageIndex = Number(intCurrPageIndex) - 1;
            console.log("跳转到" + intPageIndex + "页");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function(topicobjective) {
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.IndexPage(intPageIndex);
            });
            }

            /*
            全选数据列表中的所有记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_SetAllCkechedKeys)
            */
            function SetAllCkechedKeys(tabName)
            {
            var thisChk = event.target;
            require(["../js/TS/PubFun/clsCommonFunc4Web.js"], function (commonfunc) {
            console.log(tabName);
            console.log(thisChk);
            commonfunc.clsCommonFunc4Web.SetAllCkechedKeys(tabName, thisChk);
            });
            }

            /*
            显示对话框
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_ShowDialog)
            */
            function ShowDialog(pstrOp) {
            strOp = pstrOp;
            require(['jquery', 'bootstrap'], function($) {
            if (strOp === "Add") {
            $('#myModalLabel').html('添加记录');
            //AddObjectiveFactEx.GetMaxStrId('#txtTopicObjectiveId');
            }
            else if (strOp === "Update")
            {
            $('#myModalLabel').html('修改记录');
            }
            else if (strOp === "Detail")
            {
            $('#btnOKUpd').hide();
            $('#myModalLabel').html('详细信息');
            }
            $('#divEditRegion').modal('show');
            });
            }

            /*
            隐藏对话框
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_HideDialog)
            */
            function HideDialog() {
            require(['jquery', 'bootstrap'], function($) {
            $('#divEditRegion').modal('hide');
            });
            }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_SortBy)
            */
            function SortBy(strFldName)
            {
            console.log("按：" + strFldName + "排序");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function(topicobjective) {
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.SortBy(strFldName);
            });
    }

    //论文表头排序
    function SortByPaper(strFldName) {
        console.log("按：" + strFldName + "排序");
        require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (viewpoint) {
            var objPage = new viewpoint.AddObjectiveFactEx();
            objPage.SortByPaper(strFldName);
        });
    }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_UpdateRecord)
            */
            function UpdateRecord() {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function(topicobjective, commonfunc) {
                var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "")
            {
            alert("请选择需要修改的记录！");
            return;
            }
            ShowDialog('Update');
            var objPage = new topicobjective.AddObjectiveFactEx();
            objPage.ShowData(strKeyId);
            return true;
            });
            }



            /////////////////////////////////////////////论文列表

            /*
            查询记录事件 论文；
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnPaperQuery_Click)
            */
            function btnPaperQuery_Click() {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (paper) {
            $("#Text1").val("进入函数：btnPaperQuery_Click");
            var objPage = new paper.AddObjectiveFactEx();
            objPage.btnPaperQuery_Click();
            });
            }



            //选择论文按钮
            function selectPaper_Click() {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (paper) {
            var objPage = new paper.AddObjectiveFactEx();
            objPage.selectPaper_Click();
            });
            ShowDialogThree();
            }


            //关闭详情
            function closeTwo_Click() {

            HideDialogThree();
            }

            /*
            确定选择论文数据
            (AutoGCLib.WA_ViewScript_TS4CSharp:btnPaperRecordInTab_Click)
            */

            function btnPaperRecordInTab_Click(strKeyId) {
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (researchtopic) {
            if (strKeyId == "") {
            alert("请选择需要的记录！");
            return;
            }
            //ShowDialogOne();
            var objPage = new researchtopic.AddObjectiveFactEx();
            objPage.btnPaperRecordInTab_Click(strKeyId);
            });
            }

            /*
            显示对话框
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_ShowDialog)
            */
            function ShowDialogThree() {
            require(['jquery', 'bootstrap'], function ($) {
            $('#divPaperList').modal('show');
            });
            }

            /*
            隐藏对话框
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_HideDialog)
            */
            function HideDialogThree() {
            require(['jquery', 'bootstrap'], function ($) {
            $('#divPaperList').modal('hide');
            });
            }
            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_IndexPage)
            */
            function IndexPageTwo(intPageIndex) {
            console.log("跳转到" + intPageIndex + "页");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (subviewpoint) {
            var objPage = new subviewpoint.ViewpoinAddObjectiveFactExt_QUDIEx();
            objPage.IndexPageTwo(intPageIndex);
            });
            }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_JumpToPage)
            */
            function JumpToPageTwo() {
            var intCurrPageIndex = $('#input_numberTwo').val();
            var intPageIndex = Number(intCurrPageIndex);
            console.log("跳转到" + intPageIndex + "页");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (subviewpoint) {
            var objPage = new subviewpoint.AddObjectiveFactEx();
            objPage.IndexPageTwo(intPageIndex);
            });
            }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_NextPage)
            */
            function NextPageTwo() {
            var intCurrPageIndex = $('#hidCurrPageIndex').val();
            var intPageIndex = Number(intCurrPageIndex) + 1;
            console.log("跳转到" + intPageIndex + "页");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (subviewpoint) {
            var objPage = new subviewpoint.AddObjectiveFactEx();
            objPage.IndexPageTwo(intPageIndex);
            });
            }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_PageNum)
            */
            function PageNumTwo(intPageIndex) {
            console.log("跳转到" + intPageIndex + "页");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (subviewpoint) {
            var objPage = new subviewpoint.AddObjectiveFactEx();
            objPage.IndexPageTwo(intPageIndex);
            });
            }

            /*
            修改记录
            (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_PrevPage)
            */
            function PrevPageTwo() {
            var intCurrPageIndex = $('#hidCurrPageIndex').val();
            var intPageIndex = Number(intCurrPageIndex) - 1;
            console.log("跳转到" + intPageIndex + "页");
            require(["../js/GraduateEduPublicPage/AddObjectiveFactEx.js"], function (subviewpoint) {
            var objPage = new subviewpoint.AddObjectiveFactEx();
            objPage.IndexPageTwo(intPageIndex);
            });
            }

</script>
<div id="divLoading" class="loading">
    <img src="~/images/CirclePoint.gif" />
</div>
<div id="tabLayout" style="width: 100%;height:100%;">

    @*<div class="modal fade" id="divEditRegion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">*@
    <div id="divEditRegion" tabindex="-1">
        <form id="uploadForm" method="post" enctype="multipart/form-data">
            <div>
                <div style="width: 98%;margin-left:10px;">
                    @*<div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>*@
                    <div>
                        <table id="tabEdit" style="width: 100%; " class="table table-bordered table-hover table td table-sm">
                            <tr style="display:none;">
                                <td class="NameTD">
                                    <Label id="lblTopicObjectiveId" name="lblTopicObjectiveId" class="col-form-label text-right" style="width:90px;">
                                        客观Id
                                    </Label>
                                </td>
                                <td colspan="3" class="ValueTD">
                                    <input id="txtTopicObjectiveId" name="txtTopicObjectiveId" class="form-control" style="width:200px;" />
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <Label id="lblObjectiveName" name="lblObjectiveName" class="col-form-label text-right" style="width:90px;">
                                        客观名称
                                    </Label>
                                </td>
                                <td colspan="3">
                                    <input id="txtObjectiveName" name="txtObjectiveName" class="form-control" style="width:300px;" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <Label id="lblObjectiveContent" name="lblObjectiveContent" class="col-form-label text-right" style="width:90px;">
                                        客观内容
                                    </Label>
                                </td>
                                <td colspan="3">
                                    <textarea id="txtObjectiveContent" name="txtObjectiveContent" class="form-control" style="width:98%;height:100px;"></textarea>
                                    @*<input id="txtObjectiveContent" name="txtObjectiveContent" class="form-control" style="width:200px;" />*@
                                </td>
                            </tr>

                            <tr>

                                <td>
                                    <Label id="lblconclusion" name="lblconclusion" class="col-form-label text-right" style="width:90px;">
                                        推论
                                    </Label>
                                </td>
                                <td colspan="3">
                                    <textarea id="txtconclusion" name="txtconclusion" class="form-control" style="width:98%;height:150px;"></textarea>
                                    @*<input id="txtconclusion" name="txtconclusion" class="form-control" style="width:200px;" />*@
                                </td>
                            </tr>
                            <tr id="SelectPaper">
                                <td class="NameTD">
                                    <Label id="lblSourceId" name="lblSourceId" class="col-form-label text-right" style="width:90px;">
                                        来源
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <input id="txtSourceId" name="txtSourceId" disabled="disabled" class="form-control" style="width:150px;" />
                                    @*<input id="txtPaperId" name="txtPaperId" disabled="disabled" class="form-control" style="width:100px;" />*@

                                </td>
                                <td class="NameTD">
                                    <button id="btnselectPaper" type="button" class="btn btn-primary btn-sm" style="margin-top:2px; width:100px;" onclick="selectPaper_Click()">引用文献</button>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="NameTD">
                                    <Label id="lblShareId" name="lblShareId" class="col-form-label text-right" style="width:90px;">
                                        分享
                                    </Label>
                                </td>
                                <td class="ValueTD" colspan="3">
                                    <select id="ddlShareId" name="ddlShareId" class="form-control" style="width:200px;" />

                                </td>

                            </tr>
                            <tr>
                                <td class="NameTD">
                                    <Label id="lblUploadfileUrl" name="lblUploadfileUrl" class="col-form-label text-right" style="width:90px;">
                                        上传图片
                                    </Label>
                                </td>
                                <td class="ValueTD" id="InputsWrapper" colspan="3">
                                    <input type="file" id="txtUploadfile" name="txtUploadfile">
                                    <button id="AddMoreFileBox" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">添加更多图片</button>

                                    @*<input id="txtUploadfileUrl" name="txtUploadfileUrl" class="form-control" style="width:200px;" />*@
                                </td>

                            </tr>
                            @*<tr>
                                    <td class="NameTD"></td>
                                    <td>
                                        <span class="form-control" style="width:200px;">
                                            <input type="checkbox" id="chkIsSubmit" name="chkIsSubmit" Text="是否提交" checked="checked"><label for="chkIsSubmit">是否提交</label>
                                        </span>
                                    </td>

                                </tr>*@
                            <tr>
                                <td>
                                    <Label id="lblMemo" name="lblMemo" class="col-form-label text-right" style="width:90px;">
                                        备注
                                    </Label>
                                </td>
                                <td colspan="3">
                                    <textarea id="txtMemo" name="txtMemo" class="form-control" style="width:500px;height:40px;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button id="btnCancel" type="button" class="btn btn-default" onclick="CloseWindow()">关闭</button>
                        <button id="btnOKUpd" type="button" class="btn btn-primary" onclick="mySubmit()">添加</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </form>
    </div>



    @*- 论文列表 --*@
    <div class="modal fade" style="z-index:1060;" id="divPaperList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="margin-left:100px;">
            <div class="modal-content" style="width: 1000px;">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel">论文列表</h4>
                    <h4 class="modal-title" style="color:red;">(当前只显示已提交的论文数据)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <div id="divQuery" class="div_query">
                    <table id="tabQuery" name="tabQuery" style="width: 70%; " class="table table-bordered table-hover table td table-sm">
                        <tr>
                            @*<td>
                                    <Label id="lblPaperTitle_q" name="lblPaperTitle_q" class="col-form-label text-right" style="width:80px;width:90px;">
                                        论文标题
                                    </Label>
                                </td>*@
                            <td>
                                <input id="txtPaperTitle_q" name="txtPaperTitle_q" placeholder="论文标题" class="layui-input" style="width:200px;" />
                            </td>
                          
                            @*<td class="NameTD">
                                    <Label id="lblLiteratureTypeId_q" name="lblLiteratureTypeId_q" class="col-form-label text-right" style="width:90px;">
                                        文献类型
                                    </Label>
                                </td>*@
                            <td class="ValueTD">
                                <select id="ddlLiteratureTypeId_q" name="ddlLiteratureTypeId_q" class="form-control" style="width:180px;" />
                            </td>
                            <td>
                                <select id="ddlUserId_q" name="ddlUserId_q" class="form-control" style="width:180px;" />

                            </td>
                            <td>
                                <button class="layui-btn" lay-submit="" lay-filter="sreach" onclick="btnPaperQuery_Click()">
                                    <i class="layui-icon">&#xe615;</i>
                                </button>
                                @*<button type="submit" id="btnPaperQuery" name="btnPaperQuery" class="btn btn-outline-warning text-nowrap btn-sm" onclick="btnPaperQuery_Click()">查询</button>*@
                            </td>
                        </tr>
                        @*<tr>

                                <td>
                                    <Label id="lblReadUser_q" name="lblReadUser_q" class="col-form-label text-right" style="width:80px;width:90px;">
                                        用户
                                    </Label>
                                </td>


                                <td></td>
                                <td></td>
                            </tr>*@

                    </table>
                </div>


                <div class="modal-body">
                    <div id="divList" class="div_List">
                        <div id="divPaperDataLst" class="div_List">
                        </div>
                        <div id="divPager" class="pager" value="1">
                    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCancel" type="button" class="btn btn-default btn-sm" data-dismiss="modal" onclick="closeTwo_Click()">关闭</button>
                    @*<button id="btnOKUpd" type="button" class="btn btn-primary btn-sm" onclick="mySubmit2()">添加</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>

    </div>
</div>
<input id="hidOpType" type="hidden" />
<input id="hidKeyId" type="hidden" />
<input id="hidUserId" type="hidden" value="@Model.seUserId" />
<input id="hidUserId1" type="hidden" value="@strUserId1_Value" />
<input id="hidCurrPageIndex" type="hidden" value="1" />
<input id="hidSortvTopicObjectiveBy" type="hidden" value="" />

<input id="hidUserInfo" type="hidden" value="@Model.GetSession("objvUserRoleRelation")" />
<input id="hidUserId" type="hidden" />

<input id="hidPaperId" type="hidden" value="" />
<input id="hdnFileOne" type="hidden" />
<input id="hdnFileTwo" type="hidden" />
<input id="hdnFileThree" type="hidden" />
<!-- 论文排序  -->
<input id="hidSortvPaperBy" type="hidden" value="" />
<!-- 客观类型参数  -->
<input id="hidObjectiveTypeId" type="hidden" />
<!-- 主题Id  -->
<input id="hidTopicId" type="hidden" />
<!-- 客观Id  -->
<input id="hidObjectiveId" type="hidden" />
<!-- 传参论文  -->
<input id="hidRequestPaperId" type="hidden" />

<input id="hidPdfPageNum" type="hidden" />

@* 教学班Id *@
<input id="hidId_CurrEduCls" type="hidden" />