@page
@model GraduateStudyWebApp.Pages.GraduateEduPaper.gs_PaperModel
@{
    Layout = "~/Pages/Shared/_Layout_PC.cshtml";
    ViewData["Title"] = "论文表维护";
    //操作Session样例，方法1：
    //Model.seUserId = "TestUserId";
    var strUserId_Value = Model.seUserId;
    //操作Session样例，方法2：
    Model.SetSession("UserId1", "TestUserId1");
    var strUserId1_Value = Model.GetSession("UserId1");
    //请参见页尾的隐形控件hidUserid和hidUserId1的使用。
}
@section Styles{
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/site.css" />


    <link rel="stylesheet" href="~/lib/Xadmin/css/font.css">
    <link rel="stylesheet" href="~/lib/Xadmin/css/xadmin.css">

    <script src="~/lib/Xadmin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/lib/Xadmin/js/xadmin.js"></script>

    <script type='text/javascript' src='~/textboxio/textboxio.js'></script>
    <link rel="stylesheet" type="text/css" href="~/textboxio/example.css" />

    <link rel="stylesheet" href="~/css/public.css" />


}
@section Scripts{

    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>

    @*<script src="../js/site.js" asp-append-version="true"></script>*@
    <script src="../lib/bootstrap/dist/js/popper.js" type="module"></script>


    <script src="../lib/jquery-form.js"></script>
    <script src="../lib/jquery.min.js"></script>
    <!--tab选项卡-->
    @*<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
        <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>*@
    <script>
        layui.use(['laydate', 'form'],
            function () {
                var laydate = layui.laydate;

                //执行一个laydate实例
                laydate.render({
                    elem: '#txtUpdDate_q' //指定元素
                });

                //执行一个laydate实例
                //laydate.render({
                //    elem: '#end' //指定元素
                //});
            });
    </script>
    <script src="../lib/require/require.js" data-main="../js/src/config"></script>

}
<script>

var strUrl_Session_SetString = "@Model.Url_Session_SetString";
var strUrl_Session_GetString = "@Model.Url_Session_GetString";
        var strCurrPrjId = "@Model.CurrPrjId";



    /**获取地址栏参数 */
    //获取地址栏参数名称；
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    /**获取论文读写类型ID */
    function GetReadWriteTypeId() {
        var Request = new Object();
        Request = GetRequest();
        var str1;
        str1 = Request['PaperTypeId'];
        $('#hidPaperTypeId').val(str1);

        var str2;
        str2 = Request['TopicId'];
        $('#hidTopicId').val(str2);
        
    }

    function GetPaperTypeId_load() {
        var Request = new Object();
        Request = GetRequest();
        var str1;
        str1 = Request['PaperTypeId'];
        //测试01
        // str1 = "01";
        $('#hidPaperTypeId').val(str1);
        var stPaperTypeId = $('#hidPaperTypeId').val();


        var str2;
        str2 = Request['TopicId'];
        $('#hidTopicId').val(str2);

        $('#lbltitle').html("自研论文维护");
      
        if (str2 != null) {


            require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paper) {
                var objPage = new paper.gs_PaperEx();
                objPage.Page_Load();
                instantiateTextbox();
            });

        }
        else {
            require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paper) {
                var objPage = new paper.gs_PaperEx();
                objPage.Page_Load();
                instantiateTextbox();
            });
        }
    }
    /*
页面导入-在导入页面后运行的函数
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_Page_Load)
*/



    window.onload = function () {
        //require(["../js/GraduateEduPaper/PaperReadListEx.js"], function (paperreadwrite) {
        //    var objPage = new paperreadwrite.PaperReadListEx();
        //    objPage.Page_Load();
        //});
        var MaxInputs = 2;
        var InputsWrapper = $("#InputsWrapper");
        //var AddButton = $("#AddMoreFileBox");
        var x = InputsWrapper.length;
        var FieldCount = 1;
        $("#AddMoreFileBox").click(function () {

            // $(AddButton).click(function (e) {
            if (x <= MaxInputs) {
                FieldCount++;
                //add input box
                $("#InputsWrapper").append('<br/><input type="file" name="txtUploadfile' + FieldCount + '" id="txtUploadfile' + FieldCount + '"/>');
                x++; //text box increment
            }
            return false;
            // });
        })




        GetPaperTypeId_load();

        //$(function () {
            function tab(pa) {
                $(pa + ".title li").click(function () {
                    //找到是点击第几个
                    var ind = $(pa + "#title li").index($(this));
                    //alert(ind);
                    //以前显示的隐藏
                    $(pa + ".wrap div:visible").hide();
                    //第几个显示
                    $(pa + ".wrap div:eq(" + ind + ")").show();
                    //有高亮ho 去掉高亮ho
                    $(pa + ".title li.ho").removeClass("ho");
                    //被点击的元素添加ho
                    $(this).addClass("ho");

                }) //clicked
            } //tab ed
            tab(".tab1 ");

            //$("#btnOK").click(function () { alert('ok') });
            //$("#btnCancel").click(function () { alert('cancel') });
        //})

        //require(["../js/GraduateEduPaper/PaperReadListEx.js"], function (paperreadwrite) {
        //    var objPage = new paperreadwrite.PaperReadListEx();
        //    objPage.Page_Load();
        //});



    }



    function instantiateTextbox() {
        textboxio.replaceAll('textarea', {
            paste: {
                style: 'clean'
            },
            css: {
                stylesheets: ['../textboxio/example.css']
            }
        });
    };


    /*
详细记录
(AutoGCLib.WA_ViewScript_TS4CSharp:btnDetailRecord_Click)
*/
    function btnDetailRecordInTab_Click(strKeyId) {
        GetReadWriteTypeId();
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paperreadwrite) {
            if (strKeyId == "") {
                alert("请选择需要查看的记录！");
                return;
            }

            xadmin.open('论文详情', '../GraduateEduEx/PaperDetail?PaperId=' + strKeyId);

        });
    }
    /*
详细记录
(AutoGCLib.WA_ViewScript_TS4CSharp:btnDetailRecord_Click)
*/
    function btnDetailRecord_Click() {
        GetReadWriteTypeId();
        require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (paperreadwrite, commonfunc) {
            var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "") {
                alert("请选择需要查看的记录！");
                return;
            }
            window.location.href = "../GraduateEduPaper/PaperDetail?PaperId='" + strKeyId + "'";
         
        });
    }

    function btnAudit_Click() {
        GetReadWriteTypeId();
        require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (paper, commonfunc) {
            var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "") {
                alert("请选择需要查看的记录！");
                return;
            }

            var objPage = new paper.gs_PaperEx();
            objPage.btnAudit_Click(strKeyId);
        });
    }



 /*
  添加新记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnAddNewRecord_Click)
 */
    function btnAddNewRecord_Click() {
        //$("#divLoading").show();
        $("#btnOKUpd").attr("disabled", false);
   require(["../js/GraduateEduPaper/gs_PaperEx.js"], function(paper) {
ShowDialog('Add');
var objPage = new paper.gs_PaperEx();
objPage.btnAddNewRecord_Click();
});
}


    //添加论文节
    function btnAddSection_Click() {
        require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (paper, commonfunc) {
            var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "") {
                alert("请选择需要的论文！");
                return;
            }
            

            xadmin.open('论文节维护', '../ParameterTable/Section_QUDI_TS?PaperId=' + strKeyId);

        });
    }

 /*
  删除记录的事件函数
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnDelRecord_Click)
 */
function btnDelRecord_Click() {
   require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function(paper, commonfunc) {
var arrKeyIds = commonfunc.clsCommonFunc4Web.GetCheckedKeyIds();
if (arrKeyIds.length == 0)
{
alert("请选择需要删除的记录！");
return;
}
var objPage = new paper.gs_PaperEx();
objPage.btnDelRecord_Click();
});
}


 /*
  在数据表里删除记录的事件函数
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnDelRecordInTab_Click)
 */
function btnDelRecordInTab_Click(strKeyId) {
   require(["../js/GraduateEduPaper/gs_PaperEx.js"], function(paper) {
if (strKeyId == "")
{
alert("请选择需要删除的记录！");
return;
}
var objPage = new paper.gs_PaperEx();
objPage.btnDelRecordInTab_Click(strKeyId);
});
}

    //用来选择专业记录方法；
    function btnOkInTab_Click(strKeyId) {
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paper) {
            if (strKeyId == "") {
                alert("请选择需要的记录！");
                return;
            }
            var objPage = new paper.gs_PaperEx();
            objPage.btnOkInTab_Click(strKeyId);
        });
    }

 /*
  查询记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnQuery_Click)
 */
function btnQuery_Click()
{
   require(["../js/GraduateEduPaper/gs_PaperEx.js"], function(paper) {
$("#Text1").val("进入函数：btnQuery_Click");
var objPage = new paper.gs_PaperEx();
objPage.btnQuery_Click();
});
    }


    /*
所有论文
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnQuery_Click)
*/
    function liAllPaper_Click() {
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paper) {
            $("#Text1").val("进入函数：liAllPaper_Click");
            var objPage = new paper.gs_PaperEx();
            objPage.liAllPaper_Click();
        });
    }


    /*
本专业
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnQuery_Click)
*/
    function liMajor_Click() {
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paper) {
            $("#Text1").val("进入函数：liMajor_Click");
            var objPage = new paper.gs_PaperEx();
            objPage.liMajor_Click();
        });
    }

    /*
本专业方向
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnQuery_Click)
*/
    function liMajorDirection_Click() {
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paper) {
            $("#Text1").val("进入函数：liMajorDirection_Click");
            var objPage = new paper.gs_PaperEx();
            objPage.liMajorDirection_Click();
        });
    }


    }

    function setTextboxio()
    {
        var editors1 = $("#txtPaperContent").val();
        var editors = textboxio.get('#txtPaperContent');
        var editor = editors[0];
        editor.content.set(editors1);
    }


 /*
  在数据表里修改记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_btnUpdateRecordInTab_Click)
 */
function btnUpdateRecordInTab_Click(strKeyId) {
   require(["../js/GraduateEduPaper/gs_PaperEx.js"], function(paper) {
    if (strKeyId == "")
{
alert("请选择需要修改的记录！");
return;
}
ShowDialog('Update');
var objPage = new paper.gs_PaperEx();
  objPage.btnUpdateRecordInTab_Click(strKeyId);
});
}


 /*
  单击数据列表中每行首列的复选框所引发的事件
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_ChkClick)
 */
function ChkClick(myThis)
{
require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function(paper, commonfunc) {
var strId = myThis.id;
var strKey = strId.substring(3);
var arrKeys = commonfunc.arrSelectedKeys;
if (myThis.checked == true) {
if (arrKeys.indexOf(strKey) < 0)
{
arrKeys.push(strKey);
}
}
else {
var index = arrKeys.indexOf(strKey);
if (index > -1)
{
arrKeys.splice(index, 1);
}
}
var sstrKey = "";
for (let strK of arrKeys)
{
sstrKey += `${ strK},`;
}
$('#spanResult').html(sstrKey);
});
}

 /*
  修改记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_ExpandDiv)
 */
         function ExpandDiv(divName) {
//基于RequireJS来调用tzPubFun.ts中的函数OnlyShowDiv。
require(["../js/TS/PubFun/tzPubFun"], function (pubfun) {
      pubfun.OnlyShowDiv(divName, "function", "content");
});
}

 /*
  获取数据列表中的所选记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_GetAllCkechedKeys)
 */
function GetAllCkechedKeys(tabName)
{
var arrKeys = tabName.getElementsByTagName('chkInTab');
alert(arrKeys.length.toString());
}

 /*
  修改记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_IndexPage)
 */
function IndexPage(intPageIndex)
{
console.log("跳转到" + intPageIndex + "页");
require(["../js/GraduateEduPaper/gs_PaperEx.js"], function(paper) {
var objPage = new paper.gs_PaperEx();
objPage.IndexPage(intPageIndex);
});
}

 /*
  修改记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_JumpToPage)
 */
function JumpToPage()
{
var intCurrPageIndex = $('#input_number').val();
var intPageIndex = Number(intCurrPageIndex);
console.log("跳转到" + intPageIndex + "页");
require(["../js/GraduateEduPaper/gs_PaperEx.js"], function(paper) {
var objPage = new paper.gs_PaperEx();
objPage.IndexPage(intPageIndex);
});
}


 /*
  修改记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_NextPage)
 */
function NextPage()
{
var intCurrPageIndex = $('#hidCurrPageIndex').val();
var intPageIndex = Number(intCurrPageIndex) + 1;
console.log("跳转到" + intPageIndex + "页");
require(["../js/GraduateEduPaper/gs_PaperEx.js"], function(paper) {
var objPage = new paper.gs_PaperEx();
objPage.IndexPage(intPageIndex);
});
}


 /*
  修改记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_PageNum)
 */
function PageNum(intPageIndex)
{
console.log("跳转到" + intPageIndex + "页");
require(["../js/GraduateEduPaper/gs_PaperEx.js"], function(paper) {
var objPage = new paper.gs_PaperEx();
objPage.IndexPage(intPageIndex);
});
}

 /*
  修改记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_PrevPage)
 */
function PrevPage()
{
var intCurrPageIndex = $('#hidCurrPageIndex').val();
var intPageIndex = Number(intCurrPageIndex) - 1;
console.log("跳转到" + intPageIndex + "页");
require(["../js/GraduateEduPaper/gs_PaperEx.js"], function(paper) {
var objPage = new paper.gs_PaperEx();
objPage.IndexPage(intPageIndex);
});
}

 /*
  全选数据列表中的所有记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_SetAllCkechedKeys)
 */
function SetAllCkechedKeys(tabName)
{
var thisChk = event.target;
require(["../js/TS/PubFun/clsCommonFunc4Web.js"], function (commonfunc) {
console.log(tabName);
console.log(thisChk);
commonfunc.clsCommonFunc4Web.SetAllCkechedKeys(tabName, thisChk);
});
}

 /*
  显示对话框
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_ShowDialog)
 */
function ShowDialog(pstrOp) {
   strOp = pstrOp;
   require(['jquery', 'bootstrap'], function($) {
       if (strOp === "Add") {
           $('#myModalLabel').html('添加记录');
//gs_PaperEx.GetMaxStrId('#txtPaperId');
        }
else if (strOp === "Update")
{
            $('#myModalLabel').html('修改记录');
}
else if (strOp === "Detail")
{
            $('#btnOKUpd').hide();
            $('#myModalLabel').html('详细信息');
}
        $('#divEditRegion').modal('show');
  });
}

 /*
  隐藏对话框
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_HideDialog)
 */
function HideDialog() {
  require(['jquery', 'bootstrap'], function($) {
      $('#divEditRegion').modal('hide');
  });
}

 /*
  修改记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_SortBy)
 */
function SortBy(strFldName)
{
console.log("按：" + strFldName + "排序");
require(["../js/GraduateEduPaper/gs_PaperEx.js"], function(paper) {
var objPage = new paper.gs_PaperEx();
objPage.SortBy(strFldName);
});
}
     

    /*
     提交编辑
    (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_mySubmit)
    */
    function mySubmit(pstrOp) {

        //    alert("提交" + strOp);
        //require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paper) {
        //    var objPage = new paper.gs_PaperEx();
        //    objPage.btnOKUpd_Click();
        //});
        if ($("#txtPaperTitle").val() == "") {
            layer.msg('论文标题不能为空!', {
                icon: 3,
                time: 1000
            });
        } 
        
        else if ($("#txtKeyword").val() == "") {
            layer.msg('关键字不能为空!', {
                icon: 3,
                time: 1000
            });
        }        
        else if ($("#ddlLiteratureTypeId").val() == 0) {
            layer.msg('文献类型不能为空!', {
                icon: 3,
                time: 1000
            });
        }
        else {

        $("#btnOKUpd").attr("disabled", true);
        $("#divLoading").show();

            //判断文件格式；
            IsFile();

        //$("#btnOKUpd").html("正在提交");

        }


    }

    //判断图片附件格式、以及文件附件格式
    function IsFile() {
        var pic1 = $("#txtUploadfileUrl").val();

        if (pic1 != "") {
            strs = pic1.split('.');
            var suffix = strs[strs.length - 1];

            if (suffix != 'jpg' && suffix != 'gif' && suffix != 'png') {
                alert("请选择图片格式！");
                $("#btnOKUpd").attr("disabled", false);
                $("#divLoading").hide();
                var obj = document.getElementById('txtUploadfileUrl');
                obj.outerHTML = obj.outerHTML; //这样清空，在IE8下也能执行成功
                return;
                //obj.select(); document.selection.clear();这种方法也可以清空 input file 的value值
            }

        }
        //文件
        var InputsWrapper = $("#InputsWrapper");
        //var MaxInputs = 2;
        var y = InputsWrapper.length;

        //循环得到的个数
        for (var i = 0; i < y; i++) {
            if (i == 0) {
                var file1 = $("#txtUploadfile").val();

                if (file1 != "") {
                    strs = file1.split('.');
                    var suffix = strs[strs.length - 1];

                    if (suffix != 'doc' && suffix != 'docx' && suffix != 'pdf') {
                        alert("请选择pdf格式文件！");
                        $("#btnOKUpd").attr("disabled", false);
                        $("#divLoading").hide();
                        var obj = document.getElementById('txtUploadfile');
                        obj.outerHTML = obj.outerHTML; //这样清空，在IE8下也能执行成功
                        return;
                        //obj.select(); document.selection.clear();这种方法也可以清空 input file 的value值
                    }

                }
            }
            else if (i == 1) {
                var file2 = $("#txtUploadfile2").val();

                if (file2 != "") {
                    strs = file2.split('.');
                    var suffix = strs[strs.length - 1];

                    if (suffix != 'doc' && suffix != 'docx' && suffix != 'pdf') {
                        alert("请选择pdf格式文件！");
                        $("#btnOKUpd").attr("disabled", false);
                        $("#divLoading").hide();
                        var obj = document.getElementById('txtUploadfile2');
                        obj.outerHTML = obj.outerHTML; //这样清空，在IE8下也能执行成功
                        return;
                        //obj.select(); document.selection.clear();这种方法也可以清空 input file 的value值
                    }

                }
            }
           else if (i == 2) {

                var file3 = $("#txtUploadfile3").val();

                if (file3 != "") {
                    strs = file3.split('.');
                    var suffix = strs[strs.length - 1];

                    if (suffix != 'doc' && suffix != 'docx' && suffix != 'pdf') {
                        alert("请选择pdf格式文件！");
                        $("#btnOKUpd").attr("disabled", false);
                        $("#divLoading").hide();
                        var obj = document.getElementById('txtUploadfile3');
                        obj.outerHTML = obj.outerHTML; //这样清空，在IE8下也能执行成功
                        return;
                        //obj.select(); document.selection.clear();这种方法也可以清空 input file 的value值
                    }

                }

            }
        }
        //上传
        doUpload();


    }



        //上传方法
      function doUpload() {
        var formData = new FormData($("#uploadForm")[0]);
        $.ajax({
             url: "@Url.Action("UploadFile", "testUploadPic")",
            type: 'post',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
                //成功/为空
                if (returndata.status == 0 || returndata.status == -1) {

                    //如果图片地址为空，那么是修改 则不用存放地址；
                    if (returndata.fileNamePic != "") {
                        $("#hdnpic").val(returndata.fileNamePic);
                    }
                    //如果文件地址为空，那么是修改 则不用存放地址；返回3个文件地址；
                    if (returndata.fileNameOne != "") {
                        $("#hdnFileOne").val(returndata.fileNameOne);
                    }
                    if (returndata.fileNameTwo != "") {
                        $("#hdnFileTwo").val(returndata.fileNameTwo);
                    }
                    if (returndata.fileNameThree != "") {
                        $("#hdnFileThree").val(returndata.fileNameThree);
                    }

                    var editors = textboxio.get('#txtPaperContent');
                    var editor = editors[0];
                    $("#txtPaperContent").val(editor.content.get());

                    require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (Thesis) {
                        var objPage = new Thesis.gs_PaperEx();
                        objPage.btnOKUpd_Click();
                    });
                    // var aa = JSON.stringify(returndata);

                    //alert(returndata.message);

                }
                else {

                    alert('请选择正确文件!(in gs_Paper.doUpload)')
                }
            },
            error: function (returndata) {
                alert(returndata);
            }
        });
    }


    //关闭详情
    function close_Click() {

        HideDialogOne();
    }

    /*
显示对话框
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_ShowDialog)
*/
    function ShowDialogOne() {
        require(['jquery', 'bootstrap'], function ($) {
            $('#divMajorDirectionList').modal('show');
        });
    }

    /*
隐藏对话框
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_HideDialog)
*/
    function HideDialogOne() {
        require(['jquery', 'bootstrap'], function ($) {
            $('#divMajorDirectionList').modal('hide');
        });
    }



    /*
 修改记录
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_IndexPage)
*/
    function IndexPageOne(intPageIndex) {
        console.log("跳转到" + intPageIndex + "页");
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (xzmajordirection) {
            var objPage = new xzmajordirection.gs_PaperEx();
            objPage.IndexPageOne(intPageIndex);
        });
    }

    /*
     修改记录
    (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_JumpToPage)
    */
    function JumpToPageOne() {
        var intCurrPageIndex = $('#input_numberOne').val();
        var intPageIndex = Number(intCurrPageIndex);
        console.log("跳转到" + intPageIndex + "页");
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (xzmajordirection) {
            var objPage = new xzmajordirection.gs_PaperEx();
            objPage.IndexPageOne(intPageIndex);
        });
    }
    /*
 修改记录
(AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_PageNum)
*/
    function PageNumOne(intPageIndex) {
        console.log("跳转到" + intPageIndex + "页");
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (xzmajordirection) {
            var objPage = new xzmajordirection.gs_PaperEx();
            objPage.IndexPageOne(intPageIndex);
        });
    }

    /*
     修改记录
    (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_PrevPage)
    */
    function PrevPageOne() {
        var intCurrPageIndex = $('#hidCurrPageIndex').val();
        var intPageIndex = Number(intCurrPageIndex) - 1;
        console.log("跳转到" + intPageIndex + "页");
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (xzmajordirection) {
            var objPage = new xzmajordirection.gs_PaperEx();
            objPage.IndexPageOne(intPageIndex);
        });
    }
    /*
  修改记录
 (AutoGCLib.WA_ViewScript_TS4CSharp:Gen_WApi_JS_NextPage)
 */
    function NextPageOne() {
        var intCurrPageIndex = $('#hidCurrPageIndex').val();
        var intPageIndex = Number(intCurrPageIndex) + 1;
        console.log("跳转到" + intPageIndex + "页");
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (xzmajordirection) {
            var objPage = new xzmajordirection.gs_PaperEx();
            objPage.IndexPageOne(intPageIndex);
        });
    }


    //论文提交
    function btnSubmit_Click() {

        require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (paper, commonfunc) {
            var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "") {
                alert("请选择需要提交的记录！");
                return;
            }
            //ShowDialog('Update');
            var objPage = new paper.gs_PaperEx();
            objPage.btnIsSubmit_Click();

        });

    }

    //论文下拉框改变事件

    function ddlPaperTypeChange() {

        require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (paper, commonfunc) {

            //ShowDialog('Update');
            var objPage = new paper.gs_PaperEx();
            objPage.ddlPaperTypeChange();

        });

    }


    //取消论文提交
    function btnCancelSubmit_Click() {

        require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (paper, commonfunc) {
            var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "") {
                alert("请选择需要提交的记录！");
                return;
            }
            //ShowDialog('Update');
            var objPage = new paper.gs_PaperEx();
            objPage.btnCancelSubmit_Click();

        });

    }

    /*
     统计核算
    (AutoGCLib.WA_ViewScript_TS4Html:Gen_WApi_JS_btnQuery_Click)
    */
    function btnSynPaperStatistics_Click() {
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paper) {
            $("#Text1").val("进入函数：btnQuery_Click");
            var objPage = new paper.gs_PaperEx();
            objPage.btnSynPaperStatistics_Click();
        });
    }

    //新建论文
    function btnAddNewPaper_Click() {
        //首次添加隐藏上传附件
        $('#UploadFiles').hide();

        //$("#divLoading").show();
        $('#PaperLogTypeId').val("01");
        $("#btnOKUpd").attr("disabled", false);
        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paper) {
            ShowDialog('Add');
            var objPage = new paper.gs_PaperEx();
            objPage.btnAddNewPaper_Click();
        });
    }


    //收集子观点
    function btnAddSubviewpointPaper_Click() {
        $('#PaperLogTypeId').val("02");
        //
        $('#UploadFiles').show();

        require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (paper, commonfunc) {
            var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "") {
                alert("请选择需要修改的记录！");
                return;
            }

            $('#hidPaperId').val(strKeyId);
            var strPaperId = $('#hidPaperId').val();
            var strTopicId = $('#hidTopicId').val();

            xadmin.open('添加论文观点', '../GraduateEduPaper/OriginalPaperAddideas?PaperId=' + strPaperId + '&TopicId=' + strTopicId, '', '', true);

        });
   

    }


    //论文初稿
    function btnAddFirstPaper_Click() {
        $('#UploadFiles').show();
        $('#PaperLogTypeId').val("03");
        $("#btnOKUpd").attr("disabled", false);
        require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (paper, commonfunc) {
            var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "") {
                alert("请选择需要修改的记录！");
                return;
            }
            //ShowDialog('Update');
            var objPage = new paper.gs_PaperEx();
            objPage.btnUpdateRecord_Click(strKeyId);

        });
    }
    //小组讨论
    function btnGroupDiscuss_Click() {
        $('#UploadFiles').show();
        $('#PaperLogTypeId').val("04");


        //功能待完善
        xadmin.open('小组讨论', '../GraduateEduPaper/gs_PaperDiscuss?Key=' + strPaperId + '&Type=01&PubParentId=' + strTopicId);



    }
    //论文修改稿
    function btnUpdatePaper_Click() {
        $('#UploadFiles').show();
        $('#PaperLogTypeId').val("05");
        $("#btnOKUpd").attr("disabled", false);
        require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (paper, commonfunc) {
            var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "") {
                alert("请选择需要修改的记录！");
                return;
            }
            //ShowDialog('Update');
            var objPage = new paper.gs_PaperEx();
            objPage.btnUpdateRecord_Click(strKeyId);
        });
    }
    //同伴建议
    function btnCompanionProposal_Click() {
        $('#PaperLogTypeId').val("06");
        $('#UploadFiles').show();
        //require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (paper) {
        //    var objPage = new paper.gs_PaperEx();
        //    objPage.btnCompanionProposal_Click();
        //});
        xadmin.open('同伴建议', '../GraduateEduPaper/gs_PaperDiscuss?Key=' + strPaperId + '&Type=02&PubParentId=' + strTopicId);
    }
    //论文终稿
    function btnEndPaper_Click() {
        $('#UploadFiles').show();
        $('#PaperLogTypeId').val("07");
        $("#btnOKUpd").attr("disabled", false);
        require(["../js/GraduateEduPaper/gs_PaperEx.js", "../js/TS/PubFun/clsCommonFunc4Web.js"], function (paper, commonfunc) {
            var strKeyId = commonfunc.clsCommonFunc4Web.GetFirstCheckedKeyId('divList');
            if (strKeyId == "") {
                alert("请选择需要修改的记录！");
                return;
            }
            //ShowDialog('Update');
            var objPage = new paper.gs_PaperEx();
            objPage.btnUpdateRecord_Click(strKeyId);
        });
    }

    //刷新本页面
    function Refresh_vgv_Paper() {

        require(["../js/GraduateEduPaper/gs_PaperEx.js"], function (papersubviewpoint) {
            var objPage = new papersubviewpoint.gs_PaperEx();
            objPage.Page_Load();
        });
    }


</script>

<div id="divLoading" class="loading">
    <img src="~/images/CirclePoint.gif" />
</div>
<div id="tabLayout" class="tab_layout">
    @*-- 标题层 --*@
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">论文管理</a>
            <a>
                <cite><Label id="lbltitle" name="lbltitle">论文维护</Label></cite>
            </a>
            <Label id="lblMsg_List" name="lblMsg_List"></Label>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    @*-- 查询层 --*@

    <div id="divQuery" class="div_query">
        <table id="tabQuery" name="tabQuery" style="width: 50%; " class="table table-bordered table-hover table td table-sm">
            <tr>
                <td>
                    <input id="txtPaperTitle_q" name="txtPaperTitle_q" placeholder="论文标题" class="layui-input" style="width:250px;" />
                </td>
                <td>
                    <input class="layui-input" placeholder="发表日期" name="txtUpdDate_q" id="txtUpdDate_q" style="width:120px;">
                </td>
                <td class="ValueTD">
                    <select id="ddlLiteratureTypeId_q" name="ddlLiteratureTypeId_q" class="form-control" style="width:170px;" />
                </td>
                <td>
                    <select id="ddlUserId_q" name="ddlUserId_q" class="form-control" style="width:170px;" />
                </td>
                @*<td class="ValueTD">
                        <select id="ddlPaperTypeId_q" name="ddlPaperTypeId_q" class="form-control" style="width:200px;" />
                    </td>*@
                <td>
                    <button class="layui-btn" lay-submit="" lay-filter="sreach" onclick="btnQuery_Click()">
                        <i class="layui-icon">&#xe615;</i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    @*-- 功能区 --*@

    <div id="divFunction" class="table table-bordered table-hover">
        <ul class="nav">
            <li class="nav-item" style="width:100%;">
                <Label id="lblPaperList" name="lblPaperList" class="col-form-label text-info" style="width:250px;">

                </Label>
            </li>
            <li class="nav-item ml-3">
                <button id="btnAddNewPaper" name="btnAddNewPaper" class="btn btn-outline-info text-nowrap btn-sm" onclick="btnAddNewPaper_Click()">新建论文</button>
            </li>
            <li class="nav-item ml-3">
                <button id="btnAddSubviewpointPaper" name="btnAddSubviewpointPaper" class="btn btn-outline-info text-nowrap btn-sm" onclick="btnAddSubviewpointPaper_Click()">收集子观点</button>
            </li>
            <li class="nav-item ml-3">
                <button id="btnAddFirstPaper" name="btnAddFirstPaper" class="btn btn-outline-info text-nowrap btn-sm" onclick="btnAddFirstPaper_Click()">论文初稿</button>
            </li>
            <li class="nav-item ml-3">
                <button id="btnGroupDiscuss" name="btnGroupDiscuss" class="btn btn-outline-info text-nowrap btn-sm" onclick="btnGroupDiscuss_Click()">小组讨论</button>
            </li>
            <li class="nav-item ml-3">
                <button id="btnUpdatePaper" name="btnUpdatePaper" class="btn btn-outline-info text-nowrap btn-sm" onclick="btnUpdatePaper_Click()">论文修改稿</button>
            </li>
            <li class="nav-item ml-3">
                <button id="btnCompanionProposal" name="btnCompanionProposal" class="btn btn-outline-info text-nowrap btn-sm" onclick="btnCompanionProposal_Click()">同伴建议</button>
            </li>
            <li class="nav-item ml-3">
                <button id="btnEndPaper" name="btnEndPaper" class="btn btn-outline-info text-nowrap btn-sm" onclick="btnEndPaper_Click()">论文终稿</button>
            </li>

            <li class="nav-item ml-3">
                <button id="btnAddSection" name="btnAddSection" class="btn btn-outline-info text-nowrap btn-sm" title="给论文添加节点以后可以再论文子观点内引用维护" onclick="btnAddSection_Click()">添加论文节</button>
            </li>

            <li class="nav-item ml-3">
                <button id="btnAudit" style="display:none;" name="btnAudit" class="btn btn-outline-info text-nowrap btn-sm" onclick="btnAudit_Click()">论文审核</button>
            </li>

            <li class="nav-item ml-3">
                <button id="btnSubmit" name="btnSubmit" class="btn btn-outline-info text-nowrap btn-sm" title="论文提交以后才可以再其他页面引用到，不过提交以后不能再修改" onclick="btnSubmit_Click()">提交论文</button>
            </li>
            <li class="nav-item ml-3">
                <button id="btnCancelSubmit" style="display:none;" name="btnCancelSubmit" class="btn btn-outline-info text-nowrap btn-sm" onclick="btnCancelSubmit_Click()">取消提交</button>
            </li>

            <li class="nav-item ml-3">
                <button id="btnSynPaperStatistics" name="btnDelRecord" class="btn btn-outline-info btn-sm text-nowrap" onclick="btnSynPaperStatistics_Click()" style="display:none">统计核算</button>
            </li>

        </ul>
    </div>
    @*-- 列表层 --*@
    <div id="divList" class="div_List">

        <div id="divDataLst" class="div_List">
        </div>
        <div id="divPager" class="pager" value="1">
           
        </div>
    </div>
    @*-- 编辑层 --*@

    <div class="modal fade" id="divEditRegion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form id="uploadForm" method="post" enctype="multipart/form-data">
            <div class="modal-dialog" style="margin-left:200px;">
                <div class="modal-content" style="width: 1200px;">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                        <div style="margin-left:800px;">
                            <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button id="btnOKUpd" type="button" class="btn btn-primary" onclick="mySubmit()">添加</button>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <table id="tabwucPaper" name="tabwucPaper" style="width: 100%; padding: 1px; border:0px" class="table table-bordered table-hover">
                            <tr style="display:none;">
                                <td class="NameTD">
                                    <Label id="lblPaperId" name="lblPaperId" class="col-form-label text-right" style="width:90px;">
                                        论文Id
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <input id="txtPaperId" name="txtPaperId" class="form-control" style="width:300px;" />
                                </td>


                            </tr>
                            <tr>
                                <td class="NameTD">
                                    <Label id="lblPaperTitle" name="lblPaperTitle" class="col-form-label text-right" style="width:90px;">
                                        论文标题
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <input id="txtPaperTitle" name="txtPaperTitle" class="form-control" style="width:300px;" />
                                </td>
                               
                            </tr>

                            <tr>
                                <td class="NameTD">
                                    <Label id="lblPaperContent" name="lblPaperContent" class="col-form-label text-right" style="width:90px;">
                                        论文摘要
                                    </Label>
                                </td>
                                <td class="ValueTD" colspan="3">
                                    <textarea id="txtPaperContent" name="txtPaperContent" class="form-control" style="width: 100%; height: 260px;"></textarea>
                                    @*<input id="txtPaperContent" name="txtPaperContent" class="form-control" style="width:200px;" />*@
                                </td>

                            </tr>
                            <tr style="display:none;">
                                <td class="NameTD">
                                    <Label id="lblPaperTypeId" name="lblPaperTypeId" class="col-form-label text-right" style="width:90px;">
                                        论文类型
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <select id="ddlPaperTypeId" name="ddlPaperTypeId" class="form-control" style="width:200px;" onchange="ddlPaperTypeChange()" />
                                </td>
                                <td class="NameTD">
                                    <Label id="lblPaperStatusId" name="lblPaperStatusId" class="col-form-label text-right" style="width:90px;">
                                        论文状态
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <select id="ddlPaperStatusId" name="ddlPaperStatusId" class="form-control" style="width:200px;" />
                                </td>
                            </tr>
                            <tr style="display:none;">
                                <td class="NameTD">
                                    <Label id="lblPeriodical" name="lblPeriodical" class="col-form-label text-right" style="width:90px;">
                                        期刊
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <input id="txtPeriodical" name="txtPeriodical" class="form-control" style="width:180px;" />
                                </td>
                                <td class="NameTD">
                                    <Label id="lblAuthor" name="lblAuthor" class="col-form-label text-right" style="width:90px;">
                                        作者
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <input id="txtAuthor" name="txtAuthor" class="form-control" style="width:180px;" />
                                </td>
                            </tr>

                            <tr>
                                <td class="NameTD">
                                    <Label id="lblResearchQuestion" name="lblResearchQuestion" class="col-form-label text-right" style="width:90px;">
                                        研究问题
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <input id="txtResearchQuestion" name="txtResearchQuestion" class="form-control" style="width:300px;" />
                                </td>
                                <td class="NameTD">
                                    <Label id="lblKeyword" name="lblKeyword" class="col-form-label text-right" style="width:90px;">
                                        关键字
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <input id="txtKeyword" name="txtKeyword" class="form-control" style="width:300px;" />
                                </td>
                            </tr>


                            <tr>
                                <td class="NameTD">
                                    <Label id="lblLiteratureTypeId" name="lblLiteratureTypeId" class="col-form-label text-right" style="width:90px;">
                                        文献类型(架构)
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <select id="ddlLiteratureTypeId" name="ddlLiteratureTypeId" class="form-control" style="width:200px;" />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr style="display:none;">
                                <td class="NameTD">
                                    <Label id="lblLiteratureSources" name="lblLiteratureSources" class="col-form-label text-right" style="width:90px;">
                                        文献来源
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <input id="txtLiteratureSources" name="txtLiteratureSources" class="form-control" style="width:400px;" />
                                </td>
                                <td class="NameTD">
                                    <Label id="lblLiteratureLink" name="lblLiteratureLink" class="col-form-label text-right" style="width:90px;">
                                        文献链接
                                    </Label>
                                </td>
                                <td class="ValueTD" colspan="2">
                                    <input id="txtLiteratureLink" name="txtLiteratureLink" class="form-control" style="width:400px;" />
                                </td>

                                <td class="ValueTD">
                                    <span class="form-control" style="width:200px;">
                                        <input type="checkbox" id="chkIsQuotethesis" name="chkIsQuotethesis" Text="是否引用论文"><label for="chkIsQuotethesis">是否引用论文</label>
                                    </span>
                                </td>

                            </tr>
                            <tr style="display:none;">
                                <td class="NameTD">
                                    <Label id="lblUploadfileUrl" name="lblUploadfileUrl" class="col-form-label text-right" style="width:90px;">
                                        上传图片
                                    </Label>
                                </td>
                                <td class="ValueTD" colspan="3">
                                    <input type="file" id="txtUploadfileUrl" name="txtUploadfileUrl">
                                    @*<input id="txtUploadfileUrl" name="txtUploadfileUrl" class="form-control" style="width:200px;" />*@
                                </td>

                            </tr>
                            <tr id="UploadFiles">
                                <td class="NameTD">
                                    <Label id="lblUploadfileUrl" name="lblUploadfileUrl" class="col-form-label text-right" style="width:90px;">
                                        上传附件
                                    </Label>
                                </td>
                                <td class="ValueTD" id="InputsWrapper" colspan="3">
                                    <input type="file" id="txtUploadfile" name="txtUploadfile">
                                    <button id="AddMoreFileBox" type="button" class="btn btn-default" data-dismiss="modal">添加更多附件</button>

                                    @*<input id="txtUploadfileUrl" name="txtUploadfileUrl" class="form-control" style="width:200px;" />*@
                                </td>

                            </tr>

                            <tr style="display:none;">
                                <td class="NameTD">
                                    <Label id="lblQuoteId" name="lblQuoteId" class="col-form-label text-right" style="width:90px;">
                                        引用Id
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <input id="txtQuoteId" name="txtQuoteId" class="form-control" style="width:200px;" />
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr style="display:none;">
                                <td class="NameTD"></td>
                                <td class="ValueTD">
                                    <span class="form-control" style="width:200px;">
                                        <input type="checkbox" id="chkIsChecked" name="chkIsChecked" Text="是否检查"><label for="chkIsChecked">是否检查</label>
                                    </span>
                                </td>

                            </tr>
                            <tr style="display:none;">
                                <td class="NameTD">
                                    <Label id="lblChecker" name="lblChecker" class="col-form-label text-right" style="width:90px;">
                                        审核人
                                    </Label>
                                </td>
                                <td class="ValueTD">
                                    <input id="txtChecker" name="txtChecker" class="form-control" style="width:200px;" />
                                </td>

                            </tr>
                            <tr>
                                <td class="NameTD">
                                    <Label id="lblMemo" name="lblMemo" class="col-form-label text-right" style="width:90px;">
                                        备注
                                    </Label>
                                </td>
                                <td class="ValueTD" colspan="3">
                                    <input id="txtMemo" name="txtMemo" class="form-control" style="width:400px;height:55px;" />
                                </td>

                            </tr>
                        </table>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </form>
    </div>


    <div class="modal fade" style="z-index:1060;" id="divMajorDirectionList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="margin-left:200px;">
            <div class="modal-content" style="width: 1000px;">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">专业方向</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                @*-- 查询层 --*@

                <div id="divQuerys" class="div_query">
                    <table id="tabQuerys" name="tabQuery" style="width: 70%; " class="table table-bordered table-hover table td table-sm">
                        <tr>
                            <td>
                                <Label id="lblid_XzMajor_q" name="lblid_XzMajor_q" class="col-form-label text-right" style="width:80px;width:90px;">
                                    专业
                                </Label>
                            </td>
                            <td>
                                <select id="ddlid_XzMajor_q" name="ddlid_XzMajor_q" class="form-control" style="width:200px;" />
                            </td>
                            <td>
                                <Label id="lblMajorDirectionName_q" name="lblMajorDirectionName_q" class="col-form-label text-right" style="width:80px;width:90px;">
                                    研究方向名
                                </Label>
                            </td>
                            <td>
                                <input id="txtMajorDirectionName_q" name="txtMajorDirectionName_q" class="form-control" style="width:200px;" />
                            </td>
                            <td>
                                <button type="submit" id="btnQuery" name="btnQuery" class="btn btn-outline-warning text-nowrap" onclick="btnQueryMajorDirection_Click()">查询</button>
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-body">
                    <div id="divList" class="div_List">
                        <div id="divMajorDirectionDataLst" class="div_List">
                        </div>
                        <div id="divPager" class="pager" value="1">
                      
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal" onclick="close_Click()">关闭</button>
                    @*<button id="btnOKUpd" type="button" class="btn btn-primary" onclick="mySubmit2()">添加</button>*@
                </div>
            </div>
            <!-- /.modal-content -->
        </div>

    </div>

</div>
<input id="hidOpType" type="hidden" />
<input id="hidKeyId" type="hidden" />
@*<input id="hidUserId1" type="hidden" value="@strUserId1_Value" />*@
<input id="hidCurrPageIndex" type="hidden" value="1" />
<input id="hidSortvPaperBy" type="hidden" value="" />

<input id="hidUserId" type="hidden" />
@*<input id="hidUserInfo" type="hidden" value="@Model.GetSession("objvUserRoleRelation")" />*@
<input id="hdnpic" type="hidden" />
<input id="hidPaperTypeId" type="hidden" />
<input id="hidPaperId" type="hidden" />

<input id="hdnFileOne" type="hidden" />
<input id="hdnFileTwo" type="hidden" />
<input id="hdnFileThree" type="hidden" />


<input id="hidSortvXzMajorDirectionBy" type="hidden" value="" />

<input id="hidMajorDirectionId" type="hidden" />

@*论文日志类型；*@
<input id="PaperLogTypeId" type="hidden" />
@*主题Id*@
<input id="hidTopicId" type="hidden" />


